.App {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  text-align: left;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
button {
  padding: 10px 15px;
  background-color: rgb(8, 101, 129);
  color: white;
  border: 1px solid rgb(8, 101, 129);
  background-color: 250ms;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(8, 101, 129);
}
.links {
  color: #777;
  display: inline-block;
  font: 12px/1 sans-serif;

  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color 0.4s;
}
.links:hover {
  color: #0a0808;
}
#LoginAttempts {
  color: #c52929;
}
table, th, td {
  border: 1px solid black;
}
